<%= render "shared/header" %>
<div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% @item.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img" %>

              <%# 商品が売れていればsold outを表示しましょう %>
              <%if item.order != nil%>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <%end%>

            </div>

            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.item_name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>

        </li>
      <% end %>
<%= render "shared/footer" %>